$color-gray: #737373;
$color-black: #000;
$color-purple-dark: #230939;
$color-purple-medium: #3d2462;
$color-purple-light: #6e46ae;
$color-levander: #d5d3e4;
$color-gray-light: #e8e9ea;
$color-white: #fff;
$color-teal: #007d91;
$color-teal-light: #00b6b4;
$color-mint: #82d296;
$color-gold: #f09b1e;
$color-red: #dc323c;
$color-fuchsia: #b557af;
//
$GermsDarkGrey: $color-gray;
$BlackFlag: $color-black;
$DescendentsDarkPurple: $color-purple-dark;
$ViolentFemmesViolet: $color-purple-medium;
$BadBrainsPurple: $color-purple-light;
$LeTigreLavender: $color-levander;
$GuttermouthGrey: $color-gray-light;
$PennywiseWhite: $color-white;
$TSOLTeal: $color-teal;
$RefusedRobin: $color-teal-light;
$MC5Mint: $color-mint;
$MinorThreatMarigold: $color-gold;
$HuskerDuTang: $color-red;
$FugaziFuchsia: $color-fuchsia;
