/* Colors */
:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.preview pre span {
  display: inline !important;
  padding: 0;
  border: 1px solid #00b6b4;
  background-color: #d5d3e4;
}

#pattern-demo {
  width: 500px;
  height: 500px;
  margin: 40px;
  border: 20px solid #fff;
  box-shadow: inset 0 0 0 20px #00b6b4;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all ease 0.3s;
}

.grid {
  display: grid;
  grid-template-columns: calc(75% - 1rem) calc(25% - 1rem);
  grid-template-rows: repeat(3, calc(100% / 3 - 1rem));
  gap: 1rem 1rem;
  grid-template-areas: "one two" "one three" "one four";
  padding: 2rem;
  box-shadow: inset 0 0 1px 0 #000;
  margin: 2rem auto;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.demo {
  padding-bottom: 100%;
  background-size: 100% 100%;
}

.demo img {
  width: 100%;
  height: auto;
  display: block;
}

/* Background Patterns Radios */
.custom-radios div {
  display: inline-block;
}

.custom-radios input[type="radio"] {
  display: none;
}

.custom-radios input[type="radio"] + label {
  color: #737373;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease;
}

.custom-radios input[type="radio"] + label span img,
.custom-radios input[type="radio"] + label span svg {
  opacity: 0;
  transition: all 0.3s ease;
  fill: #fff;
}

.custom-radios input[type="radio"] + label span svg {
  height: 13px;
  width: 18px;
}

.custom-radios input[type="radio"]#color-gray + label span {
  background-color: #737373;
}

.custom-radios input[type="radio"]#color-black + label span {
  background-color: #000;
}

.custom-radios input[type="radio"]#color-purple-dark + label span {
  background-color: #230939;
}

.custom-radios input[type="radio"]#color-purple-medium + label span {
  background-color: #3d2462;
}

.custom-radios input[type="radio"]#color-purple-light + label span {
  background-color: #6e46ae;
}

.custom-radios input[type="radio"]#color-levander + label span {
  background-color: #d5d3e4;
}

.custom-radios input[type="radio"]#color-gray-light + label span {
  background-color: #e8e9ea;
}

.custom-radios input[type="radio"]#color-white + label span {
  background-color: #fff;
}

.custom-radios input[type="radio"]#color-teal + label span {
  background-color: #007d91;
}

.custom-radios input[type="radio"]#color-teal-light + label span {
  background-color: #00b6b4;
}

.custom-radios input[type="radio"]#color-mint + label span {
  background-color: #82d296;
}

.custom-radios input[type="radio"]#color-gold + label span {
  background-color: #f09b1e;
}

.custom-radios input[type="radio"]#color-red + label span {
  background-color: #dc323c;
}

.custom-radios input[type="radio"]#color-fuchsia + label span {
  background-color: #b557af;
}

.custom-radios input[type="radio"]#pop-teal-light + label span {
  background-color: #00b6b4;
}

.custom-radios input[type="radio"]#pop-mint + label span {
  background-color: #82d296;
}

.custom-radios input[type="radio"]#pop-gold + label span {
  background-color: #f09b1e;
}

.custom-radios input[type="radio"]#pop-red + label span {
  background-color: #dc323c;
}

.custom-radios input[type="radio"]#pop-fuchsia + label span {
  background-color: #b557af;
}

.custom-radios input[type="radio"]:checked + label span img,
.custom-radios input[type="radio"]:checked + label span svg {
  opacity: 1;
}

.custom-radios input[type="radio"]#color-levander + label span svg,
.custom-radios input[type="radio"]#color-white + label span svg,
.custom-radios input[type="radio"]#color-gray-light + label span svg {
  fill: #000;
}

.custom-radios input[type="radio"].radio-pattern + label span span.letter {
  background-color: transparent;
  border: none;
  font-weight: normal;
  font-size: 18px;
  display: inline;
  width: auto;
  height: auto;
  margin: 0;
  vertical-align: auto;
  border-radius: 0;
  border: none;
  box-shadow: none;
  line-height: 1;
  position: relative;
  top: -3px;
}

.custom-radios input[type="radio"].radio-pattern:checked + label span {
  background-color: #00b6b4;
}

.custom-radios input[type="radio"].radio-pattern:checked + label span span.letter {
  color: #fff;
}

/* Background Patterns */
.bg--black-pop-gold-a {
  background-image: url("../images/patterns/pattern-black-pop-gold-a.svg");
}

.bg--black-pop-gold-b {
  background-image: url("../images/patterns/pattern-black-pop-gold-b.svg");
}

.bg--black-pop-gold-c {
  background-image: url("../images/patterns/pattern-black-pop-gold-c.svg");
}

.bg--black-pop-gold-d {
  background-image: url("../images/patterns/pattern-black-pop-gold-d.svg");
}

.bg--black-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-black-pop-fuchsia-a.svg");
}

.bg--black-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-black-pop-fuchsia-b.svg");
}

.bg--black-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-black-pop-fuchsia-c.svg");
}

.bg--black-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-black-pop-fuchsia-d.svg");
}

.bg--black-pop-red-a {
  background-image: url("../images/patterns/pattern-black-pop-red-a.svg");
}

.bg--black-pop-red-b {
  background-image: url("../images/patterns/pattern-black-pop-red-b.svg");
}

.bg--black-pop-red-c {
  background-image: url("../images/patterns/pattern-black-pop-red-c.svg");
}

.bg--black-pop-red-d {
  background-image: url("../images/patterns/pattern-black-pop-red-d.svg");
}

.bg--black-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-black-pop-teal-light-a.svg");
}

.bg--black-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-black-pop-teal-light-b.svg");
}

.bg--black-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-black-pop-teal-light-c.svg");
}

.bg--black-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-black-pop-teal-light-d.svg");
}

.bg--black-pop-mint-a {
  background-image: url("../images/patterns/pattern-black-pop-mint-a.svg");
}

.bg--black-pop-mint-b {
  background-image: url("../images/patterns/pattern-black-pop-mint-b.svg");
}

.bg--black-pop-mint-c {
  background-image: url("../images/patterns/pattern-black-pop-mint-c.svg");
}

.bg--black-pop-mint-d {
  background-image: url("../images/patterns/pattern-black-pop-mint-d.svg");
}

.bg--gray-pop-gold-a {
  background-image: url("../images/patterns/pattern-gray-pop-gold-a.svg");
}

.bg--gray-pop-gold-b {
  background-image: url("../images/patterns/pattern-gray-pop-gold-b.svg");
}

.bg--gray-pop-gold-c {
  background-image: url("../images/patterns/pattern-gray-pop-gold-c.svg");
}

.bg--gray-pop-gold-d {
  background-image: url("../images/patterns/pattern-gray-pop-gold-d.svg");
}

.bg--gray-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-gray-pop-fuchsia-a.svg");
}

.bg--gray-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-gray-pop-fuchsia-b.svg");
}

.bg--gray-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-gray-pop-fuchsia-c.svg");
}

.bg--gray-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-gray-pop-fuchsia-d.svg");
}

.bg--gray-pop-red-a {
  background-image: url("../images/patterns/pattern-gray-pop-red-a.svg");
}

.bg--gray-pop-red-b {
  background-image: url("../images/patterns/pattern-gray-pop-red-b.svg");
}

.bg--gray-pop-red-c {
  background-image: url("../images/patterns/pattern-gray-pop-red-c.svg");
}

.bg--gray-pop-red-d {
  background-image: url("../images/patterns/pattern-gray-pop-red-d.svg");
}

.bg--gray-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-gray-pop-teal-light-a.svg");
}

.bg--gray-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-gray-pop-teal-light-b.svg");
}

.bg--gray-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-gray-pop-teal-light-c.svg");
}

.bg--gray-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-gray-pop-teal-light-d.svg");
}

.bg--gray-pop-mint-a {
  background-image: url("../images/patterns/pattern-gray-pop-mint-a.svg");
}

.bg--gray-pop-mint-b {
  background-image: url("../images/patterns/pattern-gray-pop-mint-b.svg");
}

.bg--gray-pop-mint-c {
  background-image: url("../images/patterns/pattern-gray-pop-mint-c.svg");
}

.bg--gray-pop-mint-d {
  background-image: url("../images/patterns/pattern-gray-pop-mint-d.svg");
}

.bg--gray-light-pop-gold-a {
  background-image: url("../images/patterns/pattern-gray-light-pop-gold-a.svg");
}

.bg--gray-light-pop-gold-b {
  background-image: url("../images/patterns/pattern-gray-light-pop-gold-b.svg");
}

.bg--gray-light-pop-gold-c {
  background-image: url("../images/patterns/pattern-gray-light-pop-gold-c.svg");
}

.bg--gray-light-pop-gold-d {
  background-image: url("../images/patterns/pattern-gray-light-pop-gold-d.svg");
}

.bg--gray-light-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-gray-light-pop-fuchsia-a.svg");
}

.bg--gray-light-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-gray-light-pop-fuchsia-b.svg");
}

.bg--gray-light-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-gray-light-pop-fuchsia-c.svg");
}

.bg--gray-light-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-gray-light-pop-fuchsia-d.svg");
}

.bg--gray-light-pop-red-a {
  background-image: url("../images/patterns/pattern-gray-light-pop-red-a.svg");
}

.bg--gray-light-pop-red-b {
  background-image: url("../images/patterns/pattern-gray-light-pop-red-b.svg");
}

.bg--gray-light-pop-red-c {
  background-image: url("../images/patterns/pattern-gray-light-pop-red-c.svg");
}

.bg--gray-light-pop-red-d {
  background-image: url("../images/patterns/pattern-gray-light-pop-red-d.svg");
}

.bg--gray-light-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-gray-light-pop-teal-light-a.svg");
}

.bg--gray-light-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-gray-light-pop-teal-light-b.svg");
}

.bg--gray-light-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-gray-light-pop-teal-light-c.svg");
}

.bg--gray-light-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-gray-light-pop-teal-light-d.svg");
}

.bg--gray-light-pop-mint-a {
  background-image: url("../images/patterns/pattern-gray-light-pop-mint-a.svg");
}

.bg--gray-light-pop-mint-b {
  background-image: url("../images/patterns/pattern-gray-light-pop-mint-b.svg");
}

.bg--gray-light-pop-mint-c {
  background-image: url("../images/patterns/pattern-gray-light-pop-mint-c.svg");
}

.bg--gray-light-pop-mint-d {
  background-image: url("../images/patterns/pattern-gray-light-pop-mint-d.svg");
}

.bg--white-pop-gold-a {
  background-image: url("../images/patterns/pattern-white-pop-gold-a.svg");
}

.bg--white-pop-gold-b {
  background-image: url("../images/patterns/pattern-white-pop-gold-b.svg");
}

.bg--white-pop-gold-c {
  background-image: url("../images/patterns/pattern-white-pop-gold-c.svg");
}

.bg--white-pop-gold-d {
  background-image: url("../images/patterns/pattern-white-pop-gold-d.svg");
}

.bg--white-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-white-pop-fuchsia-a.svg");
}

.bg--white-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-white-pop-fuchsia-b.svg");
}

.bg--white-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-white-pop-fuchsia-c.svg");
}

.bg--white-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-white-pop-fuchsia-d.svg");
}

.bg--white-pop-red-a {
  background-image: url("../images/patterns/pattern-white-pop-red-a.svg");
}

.bg--white-pop-red-b {
  background-image: url("../images/patterns/pattern-white-pop-red-b.svg");
}

.bg--white-pop-red-c {
  background-image: url("../images/patterns/pattern-white-pop-red-c.svg");
}

.bg--white-pop-red-d {
  background-image: url("../images/patterns/pattern-white-pop-red-d.svg");
}

.bg--white-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-white-pop-teal-light-a.svg");
}

.bg--white-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-white-pop-teal-light-b.svg");
}

.bg--white-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-white-pop-teal-light-c.svg");
}

.bg--white-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-white-pop-teal-light-d.svg");
}

.bg--white-pop-mint-a {
  background-image: url("../images/patterns/pattern-white-pop-mint-a.svg");
}

.bg--white-pop-mint-b {
  background-image: url("../images/patterns/pattern-white-pop-mint-b.svg");
}

.bg--white-pop-mint-c {
  background-image: url("../images/patterns/pattern-white-pop-mint-c.svg");
}

.bg--white-pop-mint-d {
  background-image: url("../images/patterns/pattern-white-pop-mint-d.svg");
}

.bg--levander-pop-gold-a {
  background-image: url("../images/patterns/pattern-levander-pop-gold-a.svg");
}

.bg--levander-pop-gold-b {
  background-image: url("../images/patterns/pattern-levander-pop-gold-b.svg");
}

.bg--levander-pop-gold-c {
  background-image: url("../images/patterns/pattern-levander-pop-gold-c.svg");
}

.bg--levander-pop-gold-d {
  background-image: url("../images/patterns/pattern-levander-pop-gold-d.svg");
}

.bg--levander-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-levander-pop-fuchsia-a.svg");
}

.bg--levander-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-levander-pop-fuchsia-b.svg");
}

.bg--levander-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-levander-pop-fuchsia-c.svg");
}

.bg--levander-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-levander-pop-fuchsia-d.svg");
}

.bg--levander-pop-red-a {
  background-image: url("../images/patterns/pattern-levander-pop-red-a.svg");
}

.bg--levander-pop-red-b {
  background-image: url("../images/patterns/pattern-levander-pop-red-b.svg");
}

.bg--levander-pop-red-c {
  background-image: url("../images/patterns/pattern-levander-pop-red-c.svg");
}

.bg--levander-pop-red-d {
  background-image: url("../images/patterns/pattern-levander-pop-red-d.svg");
}

.bg--levander-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-levander-pop-teal-light-a.svg");
}

.bg--levander-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-levander-pop-teal-light-b.svg");
}

.bg--levander-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-levander-pop-teal-light-c.svg");
}

.bg--levander-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-levander-pop-teal-light-d.svg");
}

.bg--levander-pop-mint-a {
  background-image: url("../images/patterns/pattern-levander-pop-mint-a.svg");
}

.bg--levander-pop-mint-b {
  background-image: url("../images/patterns/pattern-levander-pop-mint-b.svg");
}

.bg--levander-pop-mint-c {
  background-image: url("../images/patterns/pattern-levander-pop-mint-c.svg");
}

.bg--levander-pop-mint-d {
  background-image: url("../images/patterns/pattern-levander-pop-mint-d.svg");
}

.bg--purple-light-pop-gold-a {
  background-image: url("../images/patterns/pattern-purple-light-pop-gold-a.svg");
}

.bg--purple-light-pop-gold-b {
  background-image: url("../images/patterns/pattern-purple-light-pop-gold-b.svg");
}

.bg--purple-light-pop-gold-c {
  background-image: url("../images/patterns/pattern-purple-light-pop-gold-c.svg");
}

.bg--purple-light-pop-gold-d {
  background-image: url("../images/patterns/pattern-purple-light-pop-gold-d.svg");
}

.bg--purple-light-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-purple-light-pop-fuchsia-a.svg");
}

.bg--purple-light-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-purple-light-pop-fuchsia-b.svg");
}

.bg--purple-light-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-purple-light-pop-fuchsia-c.svg");
}

.bg--purple-light-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-purple-light-pop-fuchsia-d.svg");
}

.bg--purple-light-pop-red-a {
  background-image: url("../images/patterns/pattern-purple-light-pop-red-a.svg");
}

.bg--purple-light-pop-red-b {
  background-image: url("../images/patterns/pattern-purple-light-pop-red-b.svg");
}

.bg--purple-light-pop-red-c {
  background-image: url("../images/patterns/pattern-purple-light-pop-red-c.svg");
}

.bg--purple-light-pop-red-d {
  background-image: url("../images/patterns/pattern-purple-light-pop-red-d.svg");
}

.bg--purple-light-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-purple-light-pop-teal-light-a.svg");
}

.bg--purple-light-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-purple-light-pop-teal-light-b.svg");
}

.bg--purple-light-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-purple-light-pop-teal-light-c.svg");
}

.bg--purple-light-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-purple-light-pop-teal-light-d.svg");
}

.bg--purple-light-pop-mint-a {
  background-image: url("../images/patterns/pattern-purple-light-pop-mint-a.svg");
}

.bg--purple-light-pop-mint-b {
  background-image: url("../images/patterns/pattern-purple-light-pop-mint-b.svg");
}

.bg--purple-light-pop-mint-c {
  background-image: url("../images/patterns/pattern-purple-light-pop-mint-c.svg");
}

.bg--purple-light-pop-mint-d {
  background-image: url("../images/patterns/pattern-purple-light-pop-mint-d.svg");
}

.bg--purple-medium-pop-gold-a {
  background-image: url("../images/patterns/pattern-purple-medium-pop-gold-a.svg");
}

.bg--purple-medium-pop-gold-b {
  background-image: url("../images/patterns/pattern-purple-medium-pop-gold-b.svg");
}

.bg--purple-medium-pop-gold-c {
  background-image: url("../images/patterns/pattern-purple-medium-pop-gold-c.svg");
}

.bg--purple-medium-pop-gold-d {
  background-image: url("../images/patterns/pattern-purple-medium-pop-gold-d.svg");
}

.bg--purple-medium-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-purple-medium-pop-fuchsia-a.svg");
}

.bg--purple-medium-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-purple-medium-pop-fuchsia-b.svg");
}

.bg--purple-medium-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-purple-medium-pop-fuchsia-c.svg");
}

.bg--purple-medium-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-purple-medium-pop-fuchsia-d.svg");
}

.bg--purple-medium-pop-red-a {
  background-image: url("../images/patterns/pattern-purple-medium-pop-red-a.svg");
}

.bg--purple-medium-pop-red-b {
  background-image: url("../images/patterns/pattern-purple-medium-pop-red-b.svg");
}

.bg--purple-medium-pop-red-c {
  background-image: url("../images/patterns/pattern-purple-medium-pop-red-c.svg");
}

.bg--purple-medium-pop-red-d {
  background-image: url("../images/patterns/pattern-purple-medium-pop-red-d.svg");
}

.bg--purple-medium-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-purple-medium-pop-teal-light-a.svg");
}

.bg--purple-medium-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-purple-medium-pop-teal-light-b.svg");
}

.bg--purple-medium-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-purple-medium-pop-teal-light-c.svg");
}

.bg--purple-medium-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-purple-medium-pop-teal-light-d.svg");
}

.bg--purple-medium-pop-mint-a {
  background-image: url("../images/patterns/pattern-purple-medium-pop-mint-a.svg");
}

.bg--purple-medium-pop-mint-b {
  background-image: url("../images/patterns/pattern-purple-medium-pop-mint-b.svg");
}

.bg--purple-medium-pop-mint-c {
  background-image: url("../images/patterns/pattern-purple-medium-pop-mint-c.svg");
}

.bg--purple-medium-pop-mint-d {
  background-image: url("../images/patterns/pattern-purple-medium-pop-mint-d.svg");
}

.bg--purple-dark-pop-gold-a {
  background-image: url("../images/patterns/pattern-purple-dark-pop-gold-a.svg");
}

.bg--purple-dark-pop-gold-b {
  background-image: url("../images/patterns/pattern-purple-dark-pop-gold-b.svg");
}

.bg--purple-dark-pop-gold-c {
  background-image: url("../images/patterns/pattern-purple-dark-pop-gold-c.svg");
}

.bg--purple-dark-pop-gold-d {
  background-image: url("../images/patterns/pattern-purple-dark-pop-gold-d.svg");
}

.bg--purple-dark-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-purple-dark-pop-fuchsia-a.svg");
}

.bg--purple-dark-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-purple-dark-pop-fuchsia-b.svg");
}

.bg--purple-dark-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-purple-dark-pop-fuchsia-c.svg");
}

.bg--purple-dark-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-purple-dark-pop-fuchsia-d.svg");
}

.bg--purple-dark-pop-red-a {
  background-image: url("../images/patterns/pattern-purple-dark-pop-red-a.svg");
}

.bg--purple-dark-pop-red-b {
  background-image: url("../images/patterns/pattern-purple-dark-pop-red-b.svg");
}

.bg--purple-dark-pop-red-c {
  background-image: url("../images/patterns/pattern-purple-dark-pop-red-c.svg");
}

.bg--purple-dark-pop-red-d {
  background-image: url("../images/patterns/pattern-purple-dark-pop-red-d.svg");
}

.bg--purple-dark-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-purple-dark-pop-teal-light-a.svg");
}

.bg--purple-dark-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-purple-dark-pop-teal-light-b.svg");
}

.bg--purple-dark-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-purple-dark-pop-teal-light-c.svg");
}

.bg--purple-dark-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-purple-dark-pop-teal-light-d.svg");
}

.bg--purple-dark-pop-mint-a {
  background-image: url("../images/patterns/pattern-purple-dark-pop-mint-a.svg");
}

.bg--purple-dark-pop-mint-b {
  background-image: url("../images/patterns/pattern-purple-dark-pop-mint-b.svg");
}

.bg--purple-dark-pop-mint-c {
  background-image: url("../images/patterns/pattern-purple-dark-pop-mint-c.svg");
}

.bg--purple-dark-pop-mint-d {
  background-image: url("../images/patterns/pattern-purple-dark-pop-mint-d.svg");
}

.bg--teal-pop-gold-a {
  background-image: url("../images/patterns/pattern-teal-pop-gold-a.svg");
}

.bg--teal-pop-gold-b {
  background-image: url("../images/patterns/pattern-teal-pop-gold-b.svg");
}

.bg--teal-pop-gold-c {
  background-image: url("../images/patterns/pattern-teal-pop-gold-c.svg");
}

.bg--teal-pop-gold-d {
  background-image: url("../images/patterns/pattern-teal-pop-gold-d.svg");
}

.bg--teal-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-teal-pop-fuchsia-a.svg");
}

.bg--teal-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-teal-pop-fuchsia-b.svg");
}

.bg--teal-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-teal-pop-fuchsia-c.svg");
}

.bg--teal-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-teal-pop-fuchsia-d.svg");
}

.bg--teal-pop-red-a {
  background-image: url("../images/patterns/pattern-teal-pop-red-a.svg");
}

.bg--teal-pop-red-b {
  background-image: url("../images/patterns/pattern-teal-pop-red-b.svg");
}

.bg--teal-pop-red-c {
  background-image: url("../images/patterns/pattern-teal-pop-red-c.svg");
}

.bg--teal-pop-red-d {
  background-image: url("../images/patterns/pattern-teal-pop-red-d.svg");
}

.bg--teal-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-teal-pop-teal-light-a.svg");
}

.bg--teal-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-teal-pop-teal-light-b.svg");
}

.bg--teal-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-teal-pop-teal-light-c.svg");
}

.bg--teal-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-teal-pop-teal-light-d.svg");
}

.bg--teal-pop-mint-a {
  background-image: url("../images/patterns/pattern-teal-pop-mint-a.svg");
}

.bg--teal-pop-mint-b {
  background-image: url("../images/patterns/pattern-teal-pop-mint-b.svg");
}

.bg--teal-pop-mint-c {
  background-image: url("../images/patterns/pattern-teal-pop-mint-c.svg");
}

.bg--teal-pop-mint-d {
  background-image: url("../images/patterns/pattern-teal-pop-mint-d.svg");
}

.bg--gold-a {
  background-image: url("../images/patterns/pattern-gold-a.svg");
}

.bg--gold-b {
  background-image: url("../images/patterns/pattern-gold-b.svg");
}

.bg--gold-c {
  background-image: url("../images/patterns/pattern-gold-c.svg");
}

.bg--gold-d {
  background-image: url("../images/patterns/pattern-gold-d.svg");
}

.bg--gold-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-gold-pop-fuchsia-a.svg");
}

.bg--gold-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-gold-pop-fuchsia-b.svg");
}

.bg--gold-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-gold-pop-fuchsia-c.svg");
}

.bg--gold-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-gold-pop-fuchsia-d.svg");
}

.bg--gold-pop-red-a {
  background-image: url("../images/patterns/pattern-gold-pop-red-a.svg");
}

.bg--gold-pop-red-b {
  background-image: url("../images/patterns/pattern-gold-pop-red-b.svg");
}

.bg--gold-pop-red-c {
  background-image: url("../images/patterns/pattern-gold-pop-red-c.svg");
}

.bg--gold-pop-red-d {
  background-image: url("../images/patterns/pattern-gold-pop-red-d.svg");
}

.bg--gold-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-gold-pop-teal-light-a.svg");
}

.bg--gold-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-gold-pop-teal-light-b.svg");
}

.bg--gold-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-gold-pop-teal-light-c.svg");
}

.bg--gold-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-gold-pop-teal-light-d.svg");
}

.bg--gold-pop-mint-a {
  background-image: url("../images/patterns/pattern-gold-pop-mint-a.svg");
}

.bg--gold-pop-mint-b {
  background-image: url("../images/patterns/pattern-gold-pop-mint-b.svg");
}

.bg--gold-pop-mint-c {
  background-image: url("../images/patterns/pattern-gold-pop-mint-c.svg");
}

.bg--gold-pop-mint-d {
  background-image: url("../images/patterns/pattern-gold-pop-mint-d.svg");
}

.bg--fuchsia-pop-gold-a {
  background-image: url("../images/patterns/pattern-fuchsia-pop-gold-a.svg");
}

.bg--fuchsia-pop-gold-b {
  background-image: url("../images/patterns/pattern-fuchsia-pop-gold-b.svg");
}

.bg--fuchsia-pop-gold-c {
  background-image: url("../images/patterns/pattern-fuchsia-pop-gold-c.svg");
}

.bg--fuchsia-pop-gold-d {
  background-image: url("../images/patterns/pattern-fuchsia-pop-gold-d.svg");
}

.bg--fuchsia-a {
  background-image: url("../images/patterns/pattern-fuchsia-a.svg");
}

.bg--fuchsia-b {
  background-image: url("../images/patterns/pattern-fuchsia-b.svg");
}

.bg--fuchsia-c {
  background-image: url("../images/patterns/pattern-fuchsia-c.svg");
}

.bg--fuchsia-d {
  background-image: url("../images/patterns/pattern-fuchsia-d.svg");
}

.bg--fuchsia-pop-red-a {
  background-image: url("../images/patterns/pattern-fuchsia-pop-red-a.svg");
}

.bg--fuchsia-pop-red-b {
  background-image: url("../images/patterns/pattern-fuchsia-pop-red-b.svg");
}

.bg--fuchsia-pop-red-c {
  background-image: url("../images/patterns/pattern-fuchsia-pop-red-c.svg");
}

.bg--fuchsia-pop-red-d {
  background-image: url("../images/patterns/pattern-fuchsia-pop-red-d.svg");
}

.bg--fuchsia-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-fuchsia-pop-teal-light-a.svg");
}

.bg--fuchsia-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-fuchsia-pop-teal-light-b.svg");
}

.bg--fuchsia-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-fuchsia-pop-teal-light-c.svg");
}

.bg--fuchsia-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-fuchsia-pop-teal-light-d.svg");
}

.bg--fuchsia-pop-mint-a {
  background-image: url("../images/patterns/pattern-fuchsia-pop-mint-a.svg");
}

.bg--fuchsia-pop-mint-b {
  background-image: url("../images/patterns/pattern-fuchsia-pop-mint-b.svg");
}

.bg--fuchsia-pop-mint-c {
  background-image: url("../images/patterns/pattern-fuchsia-pop-mint-c.svg");
}

.bg--fuchsia-pop-mint-d {
  background-image: url("../images/patterns/pattern-fuchsia-pop-mint-d.svg");
}

.bg--red-pop-gold-a {
  background-image: url("../images/patterns/pattern-red-pop-gold-a.svg");
}

.bg--red-pop-gold-b {
  background-image: url("../images/patterns/pattern-red-pop-gold-b.svg");
}

.bg--red-pop-gold-c {
  background-image: url("../images/patterns/pattern-red-pop-gold-c.svg");
}

.bg--red-pop-gold-d {
  background-image: url("../images/patterns/pattern-red-pop-gold-d.svg");
}

.bg--red-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-red-pop-fuchsia-a.svg");
}

.bg--red-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-red-pop-fuchsia-b.svg");
}

.bg--red-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-red-pop-fuchsia-c.svg");
}

.bg--red-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-red-pop-fuchsia-d.svg");
}

.bg--red-a {
  background-image: url("../images/patterns/pattern-red-a.svg");
}

.bg--red-b {
  background-image: url("../images/patterns/pattern-red-b.svg");
}

.bg--red-c {
  background-image: url("../images/patterns/pattern-red-c.svg");
}

.bg--red-d {
  background-image: url("../images/patterns/pattern-red-d.svg");
}

.bg--red-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-red-pop-teal-light-a.svg");
}

.bg--red-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-red-pop-teal-light-b.svg");
}

.bg--red-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-red-pop-teal-light-c.svg");
}

.bg--red-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-red-pop-teal-light-d.svg");
}

.bg--red-pop-mint-a {
  background-image: url("../images/patterns/pattern-red-pop-mint-a.svg");
}

.bg--red-pop-mint-b {
  background-image: url("../images/patterns/pattern-red-pop-mint-b.svg");
}

.bg--red-pop-mint-c {
  background-image: url("../images/patterns/pattern-red-pop-mint-c.svg");
}

.bg--red-pop-mint-d {
  background-image: url("../images/patterns/pattern-red-pop-mint-d.svg");
}

.bg--teal-light-pop-gold-a {
  background-image: url("../images/patterns/pattern-teal-light-pop-gold-a.svg");
}

.bg--teal-light-pop-gold-b {
  background-image: url("../images/patterns/pattern-teal-light-pop-gold-b.svg");
}

.bg--teal-light-pop-gold-c {
  background-image: url("../images/patterns/pattern-teal-light-pop-gold-c.svg");
}

.bg--teal-light-pop-gold-d {
  background-image: url("../images/patterns/pattern-teal-light-pop-gold-d.svg");
}

.bg--teal-light-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-teal-light-pop-fuchsia-a.svg");
}

.bg--teal-light-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-teal-light-pop-fuchsia-b.svg");
}

.bg--teal-light-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-teal-light-pop-fuchsia-c.svg");
}

.bg--teal-light-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-teal-light-pop-fuchsia-d.svg");
}

.bg--teal-light-pop-red-a {
  background-image: url("../images/patterns/pattern-teal-light-pop-red-a.svg");
}

.bg--teal-light-pop-red-b {
  background-image: url("../images/patterns/pattern-teal-light-pop-red-b.svg");
}

.bg--teal-light-pop-red-c {
  background-image: url("../images/patterns/pattern-teal-light-pop-red-c.svg");
}

.bg--teal-light-pop-red-d {
  background-image: url("../images/patterns/pattern-teal-light-pop-red-d.svg");
}

.bg--teal-light-a {
  background-image: url("../images/patterns/pattern-teal-light-a.svg");
}

.bg--teal-light-b {
  background-image: url("../images/patterns/pattern-teal-light-b.svg");
}

.bg--teal-light-c {
  background-image: url("../images/patterns/pattern-teal-light-c.svg");
}

.bg--teal-light-d {
  background-image: url("../images/patterns/pattern-teal-light-d.svg");
}

.bg--teal-light-pop-mint-a {
  background-image: url("../images/patterns/pattern-teal-light-pop-mint-a.svg");
}

.bg--teal-light-pop-mint-b {
  background-image: url("../images/patterns/pattern-teal-light-pop-mint-b.svg");
}

.bg--teal-light-pop-mint-c {
  background-image: url("../images/patterns/pattern-teal-light-pop-mint-c.svg");
}

.bg--teal-light-pop-mint-d {
  background-image: url("../images/patterns/pattern-teal-light-pop-mint-d.svg");
}

.bg--mint-pop-gold-a {
  background-image: url("../images/patterns/pattern-mint-pop-gold-a.svg");
}

.bg--mint-pop-gold-b {
  background-image: url("../images/patterns/pattern-mint-pop-gold-b.svg");
}

.bg--mint-pop-gold-c {
  background-image: url("../images/patterns/pattern-mint-pop-gold-c.svg");
}

.bg--mint-pop-gold-d {
  background-image: url("../images/patterns/pattern-mint-pop-gold-d.svg");
}

.bg--mint-pop-fuchsia-a {
  background-image: url("../images/patterns/pattern-mint-pop-fuchsia-a.svg");
}

.bg--mint-pop-fuchsia-b {
  background-image: url("../images/patterns/pattern-mint-pop-fuchsia-b.svg");
}

.bg--mint-pop-fuchsia-c {
  background-image: url("../images/patterns/pattern-mint-pop-fuchsia-c.svg");
}

.bg--mint-pop-fuchsia-d {
  background-image: url("../images/patterns/pattern-mint-pop-fuchsia-d.svg");
}

.bg--mint-pop-red-a {
  background-image: url("../images/patterns/pattern-mint-pop-red-a.svg");
}

.bg--mint-pop-red-b {
  background-image: url("../images/patterns/pattern-mint-pop-red-b.svg");
}

.bg--mint-pop-red-c {
  background-image: url("../images/patterns/pattern-mint-pop-red-c.svg");
}

.bg--mint-pop-red-d {
  background-image: url("../images/patterns/pattern-mint-pop-red-d.svg");
}

.bg--mint-pop-teal-light-a {
  background-image: url("../images/patterns/pattern-mint-pop-teal-light-a.svg");
}

.bg--mint-pop-teal-light-b {
  background-image: url("../images/patterns/pattern-mint-pop-teal-light-b.svg");
}

.bg--mint-pop-teal-light-c {
  background-image: url("../images/patterns/pattern-mint-pop-teal-light-c.svg");
}

.bg--mint-pop-teal-light-d {
  background-image: url("../images/patterns/pattern-mint-pop-teal-light-d.svg");
}

.bg--mint-a {
  background-image: url("../images/patterns/pattern-mint-a.svg");
}

.bg--mint-b {
  background-image: url("../images/patterns/pattern-mint-b.svg");
}

.bg--mint-c {
  background-image: url("../images/patterns/pattern-mint-c.svg");
}

.bg--mint-d {
  background-image: url("../images/patterns/pattern-mint-d.svg");
}
/*# sourceMappingURL=style.css.map */