/* Colors */
@import "colors";
:root {
  font-size: 16px;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 6rem;
}
h1,
h2,
h3,
p {
  margin: 2rem 0 0.5rem 0;
}
.preview {
  pre {
    background-color: $color-gray-light;
    display: inline-block;
    padding: 0 0.5rem;
    line-height: 2;
    span.value {
      display: inline-block;
      margin: 0;
      padding: 0;
      background-color: $color-levander;
      font-weight: bold;
      line-height: 2;
    }
  }
}
#pattern-demo {
  width: 600px;
  height: 600px;
  margin: 2rem 20px;
  border: 20px solid $color-white;
  box-shadow: 0 0 0 20px $color-teal-light;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: background-image ease 0.3s;
}
/* Background Patterns Radios */
@import "bg-patterns-radios";
/* Background Patterns */
@import "bg-patterns";
